@import "../App/styles.scss";

.search-term {
  font-weight: bold;
  padding: 5px;

  &__link {
    display: block;
    color: $light-gray;
  }
}

.search-term:hover {
  background-color: $shadow-gray;
}
