.story-container {
  display: flex;
  flex-direction: column;

  .story-wrapper:not(:last-child) {
    margin-bottom: 30px;
  }
}

.story-container--error {
  align-items: center;
}

.story-query-error {
  &__term {
    font-weight: bold;
  }
}
